<header>
    <div class="navbar navbar-dark bg-success shadow-sm">
        <div class="navbar-brand align-items-center d-flex">
            <i style="font-size: 20px;" class="fa-solid fa-truck-fast"><b class="ms-2">Shopping-Mart</b></i>
        </div>

        <div class="form-group">
            <input class="form-control " type="text" placeholder="Search" >
        </div>
    <span class="fa-solid fa-magnifying-glass search-icon"></span>
    <button  routerLink="cart"  class="btn btn-success">
        <i style="font-size: 35px;" class="fa-solid fa-cart-plus"></i>
        <div style="font-size: 12px;" class="badge bg-primary">{{totalItem}}</div>

    </button>
    </div>

    
</header>
